<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/bootstrap.min.css">
        <link  rel="stylesheet" href="/custom_style.css">
        
    </head  >
    <body class="background">
        <div  class="card position-absolute top-50 start-50 translate-middle shadow mb-5 bg-white width-auto " style="margin-top: 200px;" >
            <div class="card-content" style="width: 800px;">
                <div class="card-header-blue">
                    <div class="card-header-secondary-text">Mineski Bank - Seychelles </div>
                    <div class="card-header-title">Corporate Customer Creation</div>
                    </div>
                <div class="card-body">
  
        <div style="color:#ff1744; font-size: large; font-weight: 600;" ><%= error_msg %> </div>
    <form action="/employee/customer/corporate" method="POST">
        <label for="" class="text-box-label"> Corporate Reg. No. </label>
        <input type="text" id="company_registration_number" name="company_registration_number" class="form-control w-50" style="border-color: #113F86;"
        value="<%= post_body.company_registration_number %>" required>

        <label for="" class="text-box-label"> Company Name </label>
        <input type="text" id="company_name" name="company_name" class="form-control w-100" style="border-color: #113F86;" 
        value="<%= post_body.company_name %>" required>

        <label for="" class="text-box-label">Company Email Address</label>
        <input type="email" id="corporate_email" name="corporate_email" class="form-control w-100" style="border-color: #113F86;" 
        value="<%= post_body.corporate_email %>" required>

        <label for="" class="text-box-label">Address</label>
        <input type="text" id="address" name="address" class="form-control w-100" style="border-color: #113F86;" 
        value="<%= post_body.address %>" required>
        
        <label for="" class="text-box-label">Date of Establishment</label>
        <input type="date" id="date_of_establishment" name="date_of_establishment" class="form-control w-50" style="border-color: #113F86;" 
            max='<%=today%>' value="<%= post_body.date_of_establishment %>" required>
        
        <label for="" class="text-box-label">Contact Number</label>
        <input type="text" id="contact_no" name="contact_no" class="form-control w-50" style="border-color: #113F86;" 
        value="<%= post_body.contact_no %>" required>

        <label for="" class="text-box-label">Date Joined</label>
        <input type="date" id="date_joined" name="date_joined" max='<%=today%>' class="form-control w-50" style="border-color: #113F86;" 
        value="<%= post_body.date_joined %>" required>

        <label for="" class="text-box-label">Correspondent</label>
       <input type="text" id="correspondent" name="correspondent" class="form-control w-50" style="border-color: #113F86;" 
       value="<%= post_body.correspondent %>"  required>

       <label for="" class="text-box-label">Correspondent's E-mail Address</label>
         <input type="email" id="correspondent_email" name="correspondent_email" class="form-control w-50" style="border-color: #113F86;" 
         value="<%= post_body.correspondent_email %>" required>

         <label for="" class="text-box-label">Password</label>
        <input type="password" id="password" name="password"  class="form-control w-50" style="border-color: #113F86;background-color:#6ACBF6;"required>

        <label for="" class="text-box-label">Confirm Password</label>
        <input type="password" id="confirm_password" name="confirm_password" class="form-control w-50" style="border-color: #113F86; background-color:#6ACBF6;" required>
        <br>
        <input type="submit" class="button"  style="width: 200px;">
        
    </form>
    <br>

    <form action="/" method="GET">
        <input type="submit" value="Home" class="button"  style="width: 200px;background-color: #ff1744;">
    </form>
        </div></div></div>
    
    </body>
    </html>